@use "./core.module" as core;

html,
body {
    padding: 0;
    margin: 0;
    max-height: 100vh;
    font-family: Helvetica, "Open Sans", -apple-system, BlinkMacSystemFont,
        Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif;
    font-size: core.getDimensionValue(2);
    font-display: swap;
}

@font-face {
    font-family: "Open Sans";
    src: url("../public/OpenSans-VariableFont.ttf");
    font-display: swap;
}

@font-face {
    font-family: Raleway;
    src: url("../public/Raleway-VariableFont.ttf");
    font-display: swap;
}

a {
    color: core.$color-light-accent-1;
    text-decoration: none;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            color: core.$color-light-accent-2;
        }
    }
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Raleway;
    font-weight: 400;
}

// @media (prefers-color-scheme: dark) {
//     html {
//         color-scheme: dark;
//     }
//     body {
//         color: white;
//         background: black;
//     }
// }
