@use "./core.module" as core;

.privacy {
    h1 {
        margin: 0;
        line-height: 1.15;
        font-size: core.$size-font-title;
        text-align: center;
    }

    p {
        max-width: core.$size-breakpoint-small;
    }
}
