@use "../../../styles/core.module" as core;

.grid {
    display: grid;
    gap: core.getDimensionValue(1);
    max-width: 100%;

    @media only screen and (min-width: core.$size-breakpoint-small) {
        max-width: 100%;
    }

    @media only screen and (min-width: core.$size-breakpoint-normal) {
        max-width: 100%;
    }

    @media only screen and (min-width: core.$size-breakpoint-large) {
        max-width: core.$size-breakpoint-large;
    }
}
